 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
     
}
body{
    background-color: lightgray;
}
#header{
    background-color:gray;
    height: 55px;
    margin-top: 0px;
    width: 100%;
    display: flex;
    position: sticky;
    top: 0;
    z-index: 100;

}
#fb-icon{
    height: 50px;

}
#fb-search{
     margin-top: 20px;
     height: 22px;
     margin-left: 5px;
    border-radius: 10%;
}
#home{
    height: 50px;
    margin-left: 120px;
}
#noti{
    height: 50px;
    margin-left: 45px;

}
#group{
    height: 50px;
    margin-left: 55px;
}
.dp{
    height: 40px;
    margin-left: 200px;
    margin-top: 5px;
    border-radius: 50%;
    
    
}
#mess{
    height: 40px;
    margin-left: 30px;
    margin-top: 5px;
}
.container{
    display: flex;
    justify-content: space-between;
    padding: 20px 10%;

}
.leftsidebar{
    background:lightskyblue;
    flex-basis: 25%;
    position: sticky;
    top: 65px;
    align-self: flex-start;
    
}
.rightsidebar{
    background:lightskyblue;
    flex-basis: 25%;
    position: sticky;
    top: 65px;
    align-self: flex-start;
  
}
.mainbar{
    flex-basis: 47%;

}


