*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

} 
body{
    --twitter-color:#50b7f5;
    --twitter-background: #e6ecf0;

}
 
.sidebaroption{
    display: flex;
    align-content: center;
    cursor: pointer;
    margin: 15px;

}
.sidebaroption ,.bi-twitter{
    padding: 5px;
    margin-left: 20px;
    

} 
.sidebaroption h2{
    font-weight: 800;
    font-size: 15px;
    margin-right: 30px;
}
.sidebaroption:hover{
    background-color: var(--twitter-background);
    border-radius: 30px;
    color: var(--twitter-color);
    transition: color 100ms ease-out;
}
.sidebaroption.active{
    color: var(--twitter-color);
}
.sidebar-twitter{
    width: 100%;
    height: 50px;
    border: none;
    background-color: var(--twitter-color);
    color: white;
    border-radius: 20px;
    margin-top: 10px;

}
body{
    display: flex;
    height: 100px;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;

}
.sidebar{
    border-right: 2px solid var(--twitter-background);
    flex: 0.2;
    min-width: 250px;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    height: 620px;

}
.bi-twitter{
    color: var(--twitter-color);
    
}
.feed{
    flex: 0.2;
    border-right: 2px solid var(--twitter-background);
    min-width: fit-content;
    overflow-y: scroll;

}
.feedheader{
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
    border: 2px solid var(--twitter-background);
padding: 15px 20px;
}
.feedheader h2{
    font-size: 25px;
    font-weight: 800;
}